<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JEMA Metrics</title>
    <meta name="author" content="Cascade"


    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.css">
    <link rel="stylesheet" href="/styles/Righteous.css">
    <link rel="stylesheet" href="/styles/jquery.fancybox.css">
    <link rel="stylesheet" href="/styles/xcharts.min.css">
    <link rel="stylesheet" href="/styles/select2/select2.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/shiv/html5shiv.js"></script>
        <script src="/shiv/respond.min.js"></script>
        <script src="/js/devoops.js"></script>
    <![endif]-->

    <!-- DATES //
    <script>
    var currentDate_b = (new Date()).toISOString().slice(0,10).replace(/-/g,"");
    var cursor = db.query.findOne({question : 'total'} , {count : 1}).limit(1);
    var myDate = cursor.next();
    </script>
    DATES END -->

  </head>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap/bootstrap.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/devoops.js"></script>
    <script src="/js/d3/d3.js"></script>
    <script src="/js/d3/d3.min.js"></script>
    <script src="/js/eq/eq.all.min.js"></script>
    <script src="/js/eq/eq.view.grid.js"></script>
    <script src="/js/jquery.fancybox.js"></script>
    <script src="/js/others/flot/jquery.flot.js"></script>
    <script src="/js/others/flot/jquery.flot.resize.js"></script>
    <script src="/js/others/flot/jquery.flot.time.js"></script>
    <script src="/js/others/moment/langs.js"></script>
    <script src="/js/others/moment/langs.min.js"></script>
    <script src="/js/others/moment/moment-with-langs.js"></script>
    <script src="/js/others/moment/moment-with-langs.min.js"></script>
    <script src="/js/others/moment/moment.min.js"></script>
    <script src="/js/others/morris/morris.js"></script>
    <script src="/js/others/morris/morris.min.js"></script>
    <script src="/js/others/raphael/raphael-min.js"></script>
    <script src="/js/others/raphael/raphael.js"></script>
    <script src="/js/others/select2/select2.js"></script>
    <script src="/js/others/select2/select2.min.js"></script>
    <script src="/js/others/sparkline/jquery.sparkline.js"></script>
    <script src="/js/others/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/others/xcharts/xcharts.js"></script>
    <script src="/js/others/xcharts/xcharts.min.js"></script>
    <script src="/js/qMetrics.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/xcharts/xcharts.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
